

body, p, a, h1, h2, h3, h4, h5, h6{
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}

h1 {
	font-size: 50px;
	color: #222D41;
	letter-spacing: 5px;
	padding-top: 75px;
	text-transform: uppercase; 
	margin-bottom: 20px;
}

#myName {
	letter-spacing: .5px;
	font-family: 'Dancing Script', cursive;
	font-size: 14rem;
	color: #FA8231;
}

/*/////Header/////*/  

.navbar {
	background-color: #222D41;
} 

.navbar-default .navbar-nav>li>a {
	color: #F3F0E5;
	text-transform: uppercase;
	font-size: 18px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #FA8231;
}

header{
	background: url(../images/foodCodeProfileKnives-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 400px;) {
	header.background {
		display: none;
	}	
}

.home_text{
	padding-top: 210px;
	padding-bottom: 210px;
}

.home_text h2{
	color: #222D41;
	font-size: 16vh;
	position: relative;
	letter-spacing: -5px;
	width: 100%;
}

.home_text p{
	color: #222D41;
	font-size: 3vh;
	text-transform: uppercase;
}

.home_text img{
	color: #222D41;
}

.scroll_down a{
	padding-bottom: 70px;
	color: #222D41;
}


/*/////Services/////*/

.services{
	padding-top: 96px;
	background-color: #F3F0E5;

}

.services .container{
	border-bottom: 1px solid #8EBAC0;
}

.single_service{
	padding-bottom: 96px;
}

.single_service img{
	font-size: 25px;
	
}

.single_service h2{
	color: #222D41;
	font-size: 25px;
	text-transform: uppercase;
}

.single_service p{
	color: #222D41;
	font-size: 14px;
}



.single_progress_bar .progress {
	height: 8px;
	margin-bottom: 30px;
	overflow: hidden;
	background-color: #eee;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.single_progress_bar .progress-bar {
	background-color: #FA8231;
}

.single_progress_bar h2{
	color: #222D41;
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.single_progress_bar h4{
	color: #222D41;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
}

.about_title img{
	margin-bottom: 20px;
}

.about_title h4{
	font-size: 18px;
	margin-bottom: 80px;
}

.about_us_area p{
	font-size: 20px;
	border-style: solid;
	border-color: #222D41;
	padding: 57px 57px;
	text-decoration: none;
}

.fa-plus {
	color: #8EBAC0;
}


/*/////Work/////*/

.single_image{
	margin-left: 3px;
	position: relative;
	transition: all 1s;
}

.single_image img{
	width: 100%;
	padding: 15px;

}

.single_image:hover div.image_overlay{
	opacity: .9;
}

.image_overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FA8231;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all .5s;	
}

.image_overlay a{
	position: absolute;
	top: 20px;
	right: 20px; 
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	border-style: double;
	padding: 5px;
}

.image_overlay h2 {
	position: absolute;
	bottom: 28px;
	left: 20px;
	font-size: 25px bold;
	color: #222D41;
	opacity: 1;
	text-transform: uppercase;
	letter-spacing: 3px;	
}

.image_overlay h3{
	padding: 30px;
}

.no_padding{
	padding-left: 0px;
	padding-right: 0px;
}

/*/////Contact/////*/

.contact_title h1{
	color: #fff;
	letter-spacing: 5px;
	padding-top: 75px;
	text-transform: uppercase; 
	margin-bottom: 20px;
}

.work_title img, .contact_title img{
	margin-bottom: 20px;

}

.work_title p{
	font-size: 18px;
	color: #222D41;
	margin-bottom: 80px;
} 



/*/////Contact/////*/

section.contact{
	background-color: #8EBAC0;
}

.contact_title p{
	font-size: 23px;
	color: #fff;
	margin-bottom: 50px;
}	

#submit{
	height: 75px;
	width: 350px;
	position: center;
	margin-bottom: 50px;
	background: #FA8231;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	transition: all .5s;	
}

.form_submit a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
	color: #fff;
}

/*/////Footer/////*/

footer{
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 30px;
}

.social{
	padding-top: 10px;
}

.social h2{
	text-transform: uppercase;
	font-size: 16px;	
	color: #222D41;
}

ul.icon_list{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-top: 20px;
}

ul.icon_list li{
	display: inline;
	padding-left: 25px;
	padding-right: 25px;
}

ul.icon_list li a{
	display: inline-block;
	color: #222D41;
	text-align: center;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 28px;
	transition: all 1s;
}
ul.icon_list li a:hover{
	color: #FA8231;
	
} 


.copyright_text{
	padding-top: 0px;	
}

.copyright_text p{
	color: #222D41;
	font-size: 14px;
	margin-bottom: 0px;
	letter-spacing: 0px;
}

.copyright_text a{
	color:#222D41;
	font-weight:700;
	text-decoration:none;
}

.copyright_text img{
	max-height: 30px;
}
