

body, p, a, h1, h2, h3, h4, h5, h6{
	font-family: 'Quicksand', sans-serif;
	text-decoration: none;
}

/*Header*/  

.navbar {
	background-color: #0A1612;
} 

.navbar-default .navbar-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #F7882F;
}


header{
	background: url(../images/foodCodeProfileKnives-1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.home_text{
	padding-top: 210px;
	padding-bottom: 210px;
}
.home_text h2{
	color: #0A1612;
	font-size: 16vh;
	position: relative;
	letter-spacing: -5px;
	width: 100%;
}
.home_text p{
	color: #0A1612;
	font-size: 27px;
	/*text-transform: uppercase;*/
}
.home_text img{
	color: #000000;
}

.scroll_down a{
	padding-bottom: 70px;
	color: #000000;
}


/*Services*/
.services{
	padding-top: 96px;
	background-color: #eee;

}
.services .container{
	border-bottom: 1px solid #ddd;
}




.single_service{
	padding-bottom: 96px;

}
.single_service img{
	font-size: 30px;
	color: rgb(220,53,34);
}
.single_service h2{
	color: #000000;
	font-size: 25px;
	text-transform: uppercase;
}
.single_service p{
	color: #404040;
	font-size: 14px;
}

.single_progress_bar .progress {
height: 10px;
margin-bottom: 30px;
overflow: hidden;
background-color: #d5d5d5;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.single_progress_bar .progress-bar {
background-color: #F7882F;
}
.single_progress_bar h2{
	color: #0D475B;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
}

.single_progress_bar h4{
	color: #0D475B;
	font-size: 15px;
	font-weight: 400;
	text-transform: uppercase;
}


.about_title h1{
	font-size: 30px;
	color: #3d3d3d;
	text-transform: uppercase;
	margin-top: 85px;
	letter-spacing: 6px;
	margin-bottom: 21px;
}
.about_title img{
	margin-bottom: 20px;
}

.about_title h4{
	font-size: 18px;
	margin-bottom: 80px;
}

.about_us_area p{
	font-size: 20px;
	border-style: solid;
	border-color: #6B7A8F;
	padding: 20px;
	text-decoration: none;
}

.single_image{
	margin-right: 3px;
	position: relative;
	transition: all 1s;
}
.single_image img{
	width: 100%;
	padding: 15px;

}
.single_image:hover div.image_overlay{
	opacity: .9;
}

.image_overlay{
position: absolute;
width: 100%;
height: 100%;
background: #F7882F;
left: 0;
top: 0;
opacity: 0;
	transition: all .5s;
	
}
.image_overlay a{
position: absolute;
top: 20px;
right: 20px; 
color: #fff;
text-decoration: none;
font-size: 20px;
border-style: double;
padding: 5px;
/*text-transform: uppercase;	*/
}
.image_overlay h2{
position: absolute;
bottom: 28px;
left: 20px;
font-size: 25px bold;
color: #0A1612;
opacity: 1;
text-transform: uppercase;
letter-spacing: 3px;	
}

.no_padding{
	padding-left: 0px;
	padding-right: 0px;
}
.work_title{}
.work_title h1{
	font-size: 30px;
	color: #000;
	letter-spacing: 5px;
	padding-top: 150px;
	text-transform: uppercase; 
	margin-bottom: 20px;

} 

.contact_title h1{
	font-size: 30px;
	color: #fff;
	letter-spacing: 5px;
	padding-top: 100px;
	text-transform: uppercase; 
	margin-bottom: 20px;

}
.work_title img, .contact_title img{
	margin-bottom: 20px;

}
.work_title p{
	font-size: 18px;
	color: #000;
	margin-bottom: 80px;
} 


.contact_title p{
	font-size: 18px;
	color: #fff;
	margin-bottom: 50px;
}
.last_padding {
	padding-right: 0px;
}
.pad_top {
	padding-top: 2px;
}
.left h2{
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #0A1612;
	font-weight: bold;
}
.left p{
	margin-bottom: 60px;
	font-size: 14px;
	color: #0A1612;
}
.baton{
	margin-top: 65px;
}
.cs-btn, .cs-btn:active, .cs-btn:visited, .cs-btn:focus{
	color: #fff;
	background-color: #000;
	border-radius: 0px;
	outline: none;
	padding: 10px 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 1s;
}
.cs-btn:hover{
	background: #f74d65;
	border-color: #f74d65;
}
.call_to_action .container{
	padding-bottom: 60px;
	border-bottom: 1px solid #ddd;

}

/*Contact*/



.contact_title h1{
	font-size: 30px;
	text-transform: uppercase;
}



.contact-form{
padding: 30px;

}
.contact-form .form-control{
height: 43px;
border-radius: 0px;
margin-bottom: 20px;
border: 1px solid ##6B7A8F;

}
.contact-form #message{
	height: 104px;
}
.form_submit{
width: 100%;
background: #F7882F;
border-radius: 0px;
color: #fff;
padding-top: 13px;
padding-bottom: 10px;
transition: all .5s;	
}

.form_submit a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}



section.contact{
	background-color: #687A8F;
}

/*Footer*/
footer{
	background-color: #fff;
	padding-top: 10px;
	padding-bottom: 30px;
}
.footer_logo{}
.footer_logo img{}
.social{
	padding-top: 10px;
}
.social h2{
text-transform: uppercase;
font-size: 16px;	
color: #0A1612;
}
ul.icon_list{
margin: 0;
padding: 0;
list-style: none;
text-align: center;
margin-top: 20px;
}
ul.icon_list li{
display: inline;
padding-left: 12px;
padding-right: 12px;
}
ul.icon_list li a{
display: inline-block;
color: #0A1612;
text-align: center;
width: 30px;
height: 30px;
text-align: center;
line-height: 28px;
transition: all 1s;
}
ul.icon_list li a:hover{
	color: #F7882F;
	border-color:#f73b56; 
} 


.copyright_text{
padding-top: 10px;	
}
.copyright_text p{
color: #0A1612;
font-size: 14px;
/*text-transform: uppercase; */
margin-bottom: 0px;
letter-spacing: 0px;
}
.copyright_text a{
	color:#f73b56;
	/*text-transform:uppercase;*/
	font-weight:700;
	text-decoration:none;
	}

.copyright_text img{
	max-height: 30px;
}	
